.page.carreiras {
    .header-title {
        background: url('/img/bg-title-header-carreiras.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .25;
        }

        .page-title {
            position: relative;
            z-index: 2;

            h2 {
                border: none;
                padding: 0;

                &::after {
                    content: '';
                    position: static;
                    display: block;

                    margin-top: 10px;
                    width: 158px;
                    height: 12px;
                    background-color: #f7941e;
                }
            }
        }
    }

    .main {
        position: relative;
        padding: 118px 0 112px;

        &.apresentacao {
            .overflow-col {
                overflow: hidden;
                width: calc(100vw * 0.3918);
                background-color: #869c21;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .text {
                    margin-left: 8.4%;
                    margin-top: 100px;
                    color: #ffffff;
                    h3 {
                        font-family: 'Trirong', serif;
                        line-height: 41px;
                        font-size: 38px;
                        letter-spacing: -1px;
                        font-weight: 300;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 18px;
                        letter-spacing: 0px;
                        line-height: 26px;
                        color: #ffffff;
                        font-weight: 400;
                        max-width: 445px;
                        width: 100%;
                    }
                }

                .img {
                    background-color: #555653;
                    height: 330px;

                    display: flex;
                    align-items: center;
                    position: relative;
                    &::after {
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        display: block;
                        position: absolute;
                        background-image: url('/img/carreiras/plantas.jpg');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        opacity: 0.3;
                    }
                    h3 {
                        font-family: 'Trirong', serif;
                        z-index: 1;
                        position: relative;
                        margin: 0;
                        margin-left: 8.4%;
                        font-size: 38px;
                        letter-spacing: -1px;
                        line-height: 41px;
                        color: #ffffff;
                        font-weight: 300;
                    }
                }
            }

            .sub-title {
                font-size: 18px;
                line-height: 26px;
                color: #869c21;
                font-weight: 500;
                margin-bottom: 58px;
            }

            .container > .row {
                display: flex;
                margin: 0;
                & > div {
                    width: 100%;
                    max-width: 571px;
                    margin-left: 100px;
                    float: none;
                }
            }

            form {
                .row > div + div {
                    margin-top: 22px;
                }
                input, select {
                    width: 100%;
                    height: 52px;
                    border-radius: 5px;
                    background-color: #fcfcfc;
                    border: 1px solid #cccccc;
                    outline: none;
                    padding: 0 18px;

                    font-size: 18px;
                    color: #869c21;
                    font-weight: 400;
                    font-family: "Lato", sans-serif;
                    transition: all .2s;
                    &:focus, &:hover, &:active {
                        border-color: #869c21;
                    }
                }

                select {
                    width: 100%;
                    option {
                        padding: 10px;
                    }
                }

                #upload-photo {
                    opacity: 0;
                    position: absolute;
                    z-index: -1;

                    & ~ label {
                        margin: 0;
                        cursor: pointer;
                        padding: 1px 0;
                        width: 100%;
                        height: 53px;
                        border-radius: 5px;
                        background-color: #fcfcfc;
                        border: 1px solid #cccccc;
                        div {
                            color: #fff;
                            width: 156px;
                            height: 100%;
                            border-radius: 5px;
                            background-color: #90a33c;
                            border: 0px solid #000000;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            svg {
                                position: absolute;
                                top: 50%;
                                left: 12px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                button[type="submit"] {
                    margin-top: 19px;
                    width: 100%;
                    height: 72px;
                    border-radius: 5px;
                    background-color: #90a33c;
                    border: 2px solid #cccccc;
                    font-size: 17px;
                    color: #ffffff;
                }
            }

        }

        &.map {
            padding-bottom: 0;
            h3 {
                font-family: 'Trirong', serif;

                font-size: 60px;
                line-height: 104px;
                letter-spacing: -2px;
                color: #809423;
                font-weight: 300;
                text-align: center;
                margin: 0;
            }
            p {
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 26px;
                color: #474747;
                font-weight: 400;
                text-align: center;
                width: 100%;
                max-width: 904px;
                margin: 0 auto 60px;
            }
            iframe {
                margin-bottom: -5px;
                width: 100%;
                height: 375px;
            }
        }



    }
}

.page.videos {
    .header-title {
        background: url('/img/bg-title-header-videos.jpg') no-repeat center center;
        background-size: cover;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .45;
        }

        .page-title {
            position: relative;
            z-index: 2;

            h2 {
                font-family: 'Trirong', serif;
                border: none;
                padding: 0;

                &::after {
                    content: '';
                    position: static;
                    display: block;

                    margin-top: 10px;
                    width: 158px;
                    height: 12px;
                    background-color: #f7941e;
                }
            }
        }
    }
    .main {
        padding: 50px 0;
        &.destaques {
            padding-bottom: 70px;
            h3 {
                font-family: 'Trirong', serif;
                font-size: 38px;
                line-height: 66px;
                letter-spacing: -1px;
                color: #809423;
                font-weight: 300;
                margin: 0 0 40px 0;
            }

            .grid {
                display: grid;
                gap: 75px 26px;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                .card-video {
                    overflow: hidden;
                    border-radius: 12px;
                    background-color: #ffffff;
                    border: 0.4px solid #DCDCDC;
                    height: 304px;

                    &:hover {
                        cursor: pointer;
                    }

                    .img {
                        height: 180px;
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }

                        .play {
                            border: 5px solid #fff;
                            border-radius: 50%;
                            width: 38px;
                            height: 38px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg {
                                margin-left: 2px;
                                width: 15px;
                            }
                        }

                    }

                    .description {
                        height: calc( 304px - 180px);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 16px 0 23px;

                        .title {
                            font-size: 21px;
                            letter-spacing: 0px;
                            line-height: 28px;
                            color: #0a0a0a;
                            font-weight: 400;
                            margin: 0;
                            text-align: left;
                        }
                        .subject {
                            font-size: 18px;
                            letter-spacing: 0px;
                            line-height: 18px;
                            font-weight: 700;
                            margin: 0;
                            text-align: left;

                            &.yellow {
                                color: #f7941e;
                            }

                            &.green {
                                color: #869c21;
                            }

                            &.red {
                                color: #ed1c24;
                            }
                        }

                        .posted {
                            margin-top: 5px;
                            font-size: 13px;
                            letter-spacing: 0px;
                            line-height: 28px;
                            color: #0a0a0a;
                            font-weight: 400;
                            text-align: left;
                        }
                    }
                }
            }


        }

        &.fale-conosco {
            h2 {
                font-family: 'Trirong', serif;
                font-size: 60px;
                letter-spacing: -2px;
                line-height: 104px;
                color: #809423;
                font-weight: 300;
                margin-bottom: 5px;
                text-align: center;
            }

            p {
                max-width: 904px;
                width: 100%;
                font-size: 20px;
                letter-spacing: 0px;
                margin: 0 auto;
                line-height: 26px;
                color: #474747;
                font-weight: 400;
                text-align: center;
                margin-bottom: 40px;
            }

            a {
                width: 260px;
                height: 60px;
                border-radius: 15px;
                background-color: #809423;
                border: 0px solid #000000;

                font-size: 18px;
                color: #ffffff;
                font-weight: 500;

                margin: 0 auto;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media (max-width: 1200px) {
    .page.carreiras .main {
        padding: 50px 0;
        &.apresentacao {
            .container > .row {
                & > div {
                    padding: 0;
                    margin: 0 auto;
                }
            }
            form > .row {
                margin: 0;
                & > div {
                    padding: 0;
                    margin: 0 auto;
                }
            }
            .overflow-col {
                margin-top: 50px;
                width: 100%;
                display: block;
                position: relative;
                .text {
                    margin-top: 30px;
                    margin-left: 0;
                    padding: 0 25px;
                    h3 {
                        font-family: 'Trirong', serif;
                        font-size: 30px;
                    }
                }

                .img {
                    height: 230px;
                    h3 {
                        font-family: 'Trirong', serif;
                        font-size: 36px;
                        letter-spacing: -1px;
                        line-height: 39px;
                    }
                }
            }
        }

        &.map {
            h3 {
                font-family: 'Trirong', serif;
                font-size: 41px;
                line-height: 90px;
                padding: 0 15px;
            }
            p {
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 26px;
                padding: 0 15px;
            }
        }

    }
}

@media (max-width: 992px) {
    .page.videos .main {
        &.destaques .grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));;
        }

        &.fale-conosco {
            h2 {
                font-size: 38px;
                letter-spacing: -2px;
                line-height: 78px;
            }

            p {
                font-size: 16px;
            }

            a {
                width: 180px;
                height: 40px;
                border-radius: 10px;
                font-size: 16px;
            }
        }
    }
}

.navbar-right {
    .dropdown {
        .dropdown-content {
            margin-left: 0;
        }
    }
}

@media (max-width: 768px) {
    .navbar-right {
        flex-direction: column;
    }

}
@media (max-width: 576px) {
    .page.videos .main.destaques .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@keyframes modal-video{from{opacity:0}to{opacity:1}}@keyframes modal-video-inner{from{transform:translate(0, 100px)}to{transform:translate(0, 0)}}.modal-video{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:1000000;cursor:pointer;opacity:1;animation-timing-function:ease-out;animation-duration:.3s;animation-name:modal-video;-webkit-transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-ms-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;transition:opacity .3s ease-out}.modal-video-close{opacity:0}.modal-video-close .modal-video-movie-wrap{-webkit-transform:translate(0, 100px);-moz-transform:translate(0, 100px);-ms-transform:translate(0, 100px);-o-transform:translate(0, 100px);transform:translate(0, 100px)}.modal-video-body{max-width:960px;width:100%;height:100%;margin:0 auto;padding:0 10px;display:flex;justify-content:center;box-sizing:border-box}.modal-video-inner{display:flex;justify-content:center;align-items:center;width:100%;height:100%}@media (orientation: landscape){.modal-video-inner{padding:10px 60px;box-sizing:border-box}}.modal-video-movie-wrap{width:100%;height:0;position:relative;padding-bottom:56.25%;background-color:#333;animation-timing-function:ease-out;animation-duration:.3s;animation-name:modal-video-inner;-webkit-transform:translate(0, 0);-moz-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-ms-transition:-ms-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}.modal-video-movie-wrap iframe{position:absolute;top:0;left:0;width:100%;height:100%}.modal-video-close-btn{position:absolute;z-index:2;top:-45px;right:0;display:inline-block;width:35px;height:35px;overflow:hidden;border:none;background:transparent}@media (orientation: landscape){.modal-video-close-btn{top:0;right:-45px}}.modal-video-close-btn:before{transform:rotate(45deg)}.modal-video-close-btn:after{transform:rotate(-45deg)}.modal-video-close-btn:before,.modal-video-close-btn:after{content:'';position:absolute;height:2px;width:100%;top:50%;left:0;margin-top:-1px;background:#fff;border-radius:5px;margin-top:-6px}


