object {
    display: none;
}
/* = NAVBARS - RESET ======================================================== */
.navbar-default,
.navbar-default .navbar-collapse,
.navbar-fixed-top .navbar-default,
.navbar-fixed-bottom .navbar-default,
.navbar-static-top .navbar-default {
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    padding: 0;
}
.navbar { margin-bottom: 0; }
.navbar .nav { margin: 0; }
.navbar .brand,
.navbar-colapse {
    margin: 0;
    padding: 0;
    text-shadow: none;
}
.navbar .btn-navbar,
.navbar .btn-navbar:hover {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-shadow: none;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
}
.form-control,
.form-control:focus {
    display: block;
    width: 100%;
    color: #7b868c;
    height: 60px;
    padding: 15px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background: #f3f4f5;
    background-image: none;
    border: 1px solid #f3f4f5;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    outline: none;
}
textarea.form-control:focus {
    height: auto;
}