* {
    font-family: 'Lato', sans-serif;
    color: #8b8b8b;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
}
p {
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h3 {
    font-family: 'Trirong', serif;
}
h3.title,
h3.title-dark {
    color: #809423;
    margin-bottom: 30px;
    text-align: center;
}
.description,
.description-dark {
    text-align: center;
}
h3.title-dark, .description-dark {
    color: #FFF;
}
.main {
    background: #FFF;
}
.main-dark {
    background: #809423
}
.main-dark-white {
    background: #f4f4f4;
}


/* -- FORM -- */
.form-control, .form-control:focus {
    background: #FFF;
    border: 1px solid #cccccc;
    font-size: 18px;
    color: #818181;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #869c21;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #869c21;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #869c21;
}
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #869c21;
}
#form-contato .enviar-form {
    background: #869C21;
    color: #FFF;
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
}

/* -- HEADER -- */
.carousel-inner {
    max-height: 582px;
}

/* -- HOME --*/
.home .bloco-destaque h4 {
    font-family: 'Trirong', serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 15px;
}
.home .bloco-destaque.bloco-qualidade h4 {
    color: #c26900;
    font-weight: 900;
}
.home .bloco-destaque.bloco-estrutura h4 {
    color: #2b2d5c;
    font-weight: 700;
}
.home .bloco-destaque.bloco-profissionais h4 {
    color: #809423;
    font-weight: 400;
}
.destaques .bloco-destaque .descricao {
    margin-bottom: 50px;
}
.destaques .bloco-destaque p {
    margin-bottom: 30px;
}
.destaques .bloco-destaque a {
    padding: 5px 30px;
    background: #fabf78;
    color: #000;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;

}

/* -- SUBMENU -- */
.dropdown {
    position: relative;
    display: inline-block;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #869b2e !important;
    width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    /*margin-left: 70px;*/
    -moz-border-radius:10px;
-webkit-border-radius:10px;
 border-radius:10px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    color: #fff !important;
    display: block;
    font-size: 16px;
    -moz-border-radius: inherit;
-webkit-border-radius:inherit;
 border-radius:inherit;
}
.dropdown-content a:hover {background-color: #92aa2d !important;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* -- PAGES -- */
.page .header-title {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page .header-title .page-title {
    display: table-cell;
    vertical-align: middle;
}
.page .header-title h2 {
    font-family: 'Trirong', serif;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 10px;
    display: inline-block;
}

/* -- EMPRESAS -- */
.page.empresa .header-title {
    background: url('./../../img/bg-title-header-empresa.jpg') no-repeat center center;
}
.page.empresa .main.estrutura {
    background: #edeae2;
}
.page.empresa .main.estrutura-icons p {
    text-align: center;
    margin-bottom: 30px;
}
.page.empresa .main.profissionais {
    background: url('./../../img/bg-profissionais.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page.empresa .estrutura-slider .owl-theme .owl-nav [class*=owl-] {
    width: 70px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 40%;
    border:2px solid #FFF;
    border-radius: 50%;
    background: none;
}
.page.empresa .estrutura-slider .owl-theme .owl-nav [class*=owl-] i {
    color: #FFF;
    font-size: 50px;
}
.page.empresa .estrutura-slider .owl-prev {
    left: 0;
}
.page.empresa .estrutura-slider .owl-next {
    right: 0;
}
.page.empresa .estrutura-icons p {
    margin-top: 15px;
    color: #718905;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


/* -- MOTIVOS -- */
.page.motivos .header-title {
    background: url('./../../img/bg-title-header-motivos.jpg') no-repeat center center;
}

.page.motivos .main.profissionais {
    background: url('./../../img/bg-motivos.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* -- PRODUTOS -- */
.page.borbulhas .header-title {
    background: url('./../../img/bg-title-header-borbulhas.jpg') no-repeat center center;
}
.page.borbulhas .bg-produtos-title {
    background: #869c21;
}
.page.borbulhas .list-produtos h4 {
    font-weight: 300;
    color: #809423;
    margin-bottom: 30px;
}
.page.borbulhas .list-produtos p {
    text-align: left;
    margin-bottom: 30px;
}
.page.borbulhas .list-produtos ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}

/* -- mudas -- */
.page.mudas .header-title {
    background: url('./../../img/bg-title-header-mudas.jpg') no-repeat center center;
}
.page.mudas .bg-produtos-title {
    background: #869c21;
}
.page.mudas .list-produtos h4 {
    font-weight: 300;
    color: #809423;
    margin-bottom: 30px;
}
.page.mudas .list-produtos p {
    text-align: left;
    margin-bottom: 30px;
}
.page.mudas .list-produtos ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}


/* -- PORTA-ENXERTOS -- */
.page.porta-enxertos .header-title {
    background: url('./../../img/bg-title-header-porta-enxertos.jpg') no-repeat center center;
}
.page.porta-enxertos .bg-produtos-title {
    background: #869c21;
}
.page.porta-enxertos .list-produtos h4 {
    font-weight: 300;
    color: #809423;
    margin-bottom: 30px;
}
.page.porta-enxertos .list-produtos p {
    text-align: left;
    margin-bottom: 30px;
}
.page.porta-enxertos .list-produtos ul {
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}


/* -- CONTATO -- */
.page.contato .header-title {
    background: url('./../../img/bg-title-header-contato.jpg') no-repeat center center;
}
.page.contato .contatos {
    margin-top: 30px;
}
.page.contato .contatos .row {
    margin-bottom: 30px;
}
.page.contato .contatos h4 {
    margin: 0;
    color: #869c21;
    font-family: 'Trirong', serif;
    font-weight: 500;
    letter-spacing: -0.1em;
    font-size: 24px;
}
.page.contato .contatos a {
    display: block;
    font-size: 16px;
    color: #818181;
}
#map_container{
    position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
/* -- FOOTER --*/
footer {
    background: #869c21;
    padding: 30px 0;
}
footer .footer {
    border-bottom: 1px solid #92a638;
    padding-bottom: 30px;
}
footer .footer h5 {
    font-family: 'Trirong', serif;
    font-size: 13px;
    color: #FFF;
    margin: 0;
}
footer .footer h6 {
    font-family: 'Trirong', serif;
    font-size: 33px;
    font-weight: 500;
    color: #FFF;
    margin: 0;
}
footer .footer a.mail {
    color: #FFF;
    font-size: 18px;
}
footer .footer .sociais {
    margin-top: 15px;
}
footer .footer .sociais a {
    font-size: 20px;
    margin-right: 15px;
}
footer .footer .sociais a i {
    color: #FFF;
}
footer .footer .menu {
    margin-bottom: 20px;
}
footer .footer .menu a {
    font-family: 'Trirong', serif;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    margin-right: 50px;
}
footer .footer .menu a:hover {
    text-decoration: underline;
}
footer .footer .menu a:last-child {
    margin-right: 0;
}
footer .footer strong {
    color: #FFF;
}
footer .footer .descricao p {
    text-align: center;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 0;
    opacity: .65;
}
footer .footer a.logo-footer img{
    margin-bottom: 12px;
}
footer .footer-copy {
    margin-top: 15px;
    text-align: center;
}
footer .footer-copy p {
    text-align: center;
    color: #FFF;
    opacity: .45;
}

@media (min-width: 320px) {
    h3.title, h3.title-dark {
        font-size: 35px;
    }
    p {
        font-size: 16px;
        text-align: justify;
    }
    .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* -- HEADER -- */
    h1 a.logo-mobile {
        width: 227px;
        height: 48px;
        display: block;
        background: url('./../../img/logo-mobile.png') no-repeat top center;
        text-indent: -9999px;
    }
    h1 a.logo {
        display: none;
    }
    .navbar-fixed-top {
        position: inherit;
    }
    .navbar-header {
        padding: 15px;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: #869c21;
    }
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background: #FFF;
    }
    .carousel-inner, .carousel-inner .item {
        height:300px;
        width:100%;
        background-position:center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .carousel-control.left,
    .carousel-control.right {
        background: none;
    }
    .carousel-control .fa-angle-left,
    .carousel-control .fa-angle-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
    .carousel-control .fa-angle-left,
    .carousel-control .fa-angle-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 25px;
        border-radius: 50%;
        border: 1px solid;
        font-weight: 100;
        color: #FFF;
    }
    .carousel-control .fa-angle-right,
    .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
    }
    .carousel-indicators,
    .carousel-caption {
        display: none;
    }

    /* -- PAGE --*/
    .page .header-title .page-title {
        height: 200px;
    }
    .page .header-title h2 {
        font-size: 25px;
        border-bottom: 5px solid #809423;
    }

    /* -- HOME --*/
    .home .bloco-destaque {
        text-align: center;
    }
    .home .bloco-destaque .img-destaque {
        margin-bottom: 50px;
    }
    .home .bloco-destaque .img-destaque img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .home .bloco-destaque.bloco-qualidade h4 {
        font-size: 20px;
    }
    .destaques .bloco-destaque a {
        font-size: 20px;
    }

    /* -- EMPRESA -- */
    .page.empresa .main.apresentacao {
        background: none;
    }
    .page.empresa .profissionais .profissional p strong {
        background: #ff8201;
        padding: 5px;
    }
    .page.empresa .profissionais .profissional p strong,
    .page.empresa .profissionais .profissional p{
        color: #fff;
    }

    /* -- PRODUTOS -- */
    .page.borbulhas .list-produtos h4 {
        font-size: 24px;
        margin-top: 30px;
    }
    .page.borbulhas .list-produtos ul li {
        width: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.borbulhas .list-produtos ul li:nth-child(odd) {
        float:left;
    }






    /* -- MUDAS -- */
    .page.mudas .list-mudas h4 {
        font-size: 24px;
        margin-top: 30px;
    }
    .page.mudas .list-mudas ul li {
        width: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.mudas .list-mudas ul li:nth-child(odd) {
        float:left;
    }


    /* -- PORTA ENXERTOS -- */
    .page.porta-enxertos .list-mudas h4 {
        font-size: 24px;
        margin-top: 30px;
    }
    .page.porta-enxertos .list-mudas ul li {
        width: 50%;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.porta-enxertos .list-mudas ul li:nth-child(odd) {
        float:left;
    }



    /* -- CONTATO -- */
    .page.contato .localizacao {
        padding-top: 0;
    }
    .page.contato .mapa {
        padding-top: 0;
        padding-bottom: 0;
    }

    .page.contato .mapa iframe {
        margin-bottom: -5px;
        width: 100%;
        height: 375px;
    }

    /* -- FOOTER -- */
    footer {
        text-align: center;
    }
    footer .footer .sociais {
        margin-bottom: 30px;
    }
    footer .footer .menu a {
        margin-right: 16px;
    }
    footer .descricao {
        margin-bottom: 30px;
    }
}
@media (max-width: 480px) {
  .page.empresa .main.profissionais {
      background: url('./../../img/bg-profissionais-mobile.jpg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }


  /* -- SUBMENU -- */
  .dropdown {
      position: relative;
      display: inline-block;

  }
  .dropdown-content {
      position: absolute;
      top: -70px;
      background-color: #f1f1f1;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      padding: 0px;
              margin-left: 90px;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown:hover .dropdown-content {
      display: inline-block;
  }

}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
    /* -- HEADER -- */
    #navbar-principal {
        display: none;
    }
    .page .navbar {
        background: rgba(0, 0, 0, 0.20);
    }
    .page .header-title .title-page {
        height: 582px;
        display: table-cell;
        vertical-align: middle;
    }
    .navbar-fixed-top {
        position: fixed;
    }
    .navbar {
        box-shadow: 0px 0px 0px 1px rgb(86, 90, 63);
    }
    .navbar-nav {
        width: 50%;
    }
    .navbar-header {
        padding: 0;
    }
    .navbar-left {
        text-align: right;
        margin-right: 100px;
    }
    .navbar-right {
        text-align: left;
    }

    .navbar-opa {
        text-align: left;
        float: left !important;
        display: inline-block;
    }

    .navbar-nav li {
        float: none;
        display: inline-block;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        background-color: transparent;
        font-family: 'Trirong', serif;
        font-size: 14px;
        color: #FFF;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        text-decoration: underline;
    }
    .navbar-default .navbar-left>li:last-child{
        margin-right: 100px;
    }
    .navbar-default .navbar-right>li:first-child{
        margin-left: 100px;
    }
    .navbar-default .navbar-opa>li:first-child{
        position: absolute;
        right: -310px;
        top: -65px;
    }


    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        top: 20px;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    header h1 a.logo-mobile {
        display: none;
    }
    header h1 a.logo {
        width: 164px;
        height: 164px;
        display: block;
        background: url('./../../img/logo.png') no-repeat top center;
        text-indent: -9999px;
    }
    .carousel-inner, .carousel-inner .item {
        height:450px;
    }
    .carousel-control .fa-angle-left,
    .carousel-control .fa-angle-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 60px;
        height: 60px;
        margin-top: -10px;
        font-size: 55px;
        border-radius: 50%;
        border: 1px solid;
        font-weight: 100;
    }
    /* -- HOME --*/
    .destaques .bloco-destaque .descricao p {
        font-size: 15px;
    }

    /* -- PRODUTOS -- */
    .page.borbulhas .main.list-produtos {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page.borbulhas .main.list-produtos .img-citrica {
        background: none;
        height: inherit;
    }
    .page.borbulhas .main.list-produtos .descricao {
        padding: 0 15px;
    }
    .page.borbulhas .list-produtos h4 {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .page.borbulhas .list-produtos p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .page.borbulhas .list-produtos ul li {
        width: 50%;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.borbulhas .list-produtos ul li:nth-child(odd) {
        float:left;
    }


    /* -- MUDAS -- */
    .page.mudas .main.list-produtos {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page.mudas .main.list-produtos .img-citrica {
        background: none;
        height: inherit;
    }
    .page.mudas .main.list-produtos .descricao {
        padding: 0 15px;
    }
    .page.mudas .list-produtos h4 {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .page.mudas .list-produtos p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .page.mudas .list-produtos ul li {
        width: 50%;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.mudas .list-produtos ul li:nth-child(odd) {
        float:left;
    }

    /* -- PORTA-ENXERTOS -- */
    .page.porta-enxertos .main.list-produtos {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page.porta-enxertos .main.list-produtos .img-citrica {
        background: none;
        height: inherit;
    }
    .page.porta-enxertos .main.list-produtos .descricao {
        padding: 0 15px;
    }
    .page.porta-enxertos .list-produtos h4 {
        font-size: 24px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .page.porta-enxertos .list-produtos p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .page.porta-enxertos .list-produtos ul li {
        width: 50%;
        font-weight: 500;
        font-size: 15px;
        line-height: 26px;
        color: #949494;
        overflow: hidden;
    }
    .page.porta-enxertos .list-produtos ul li:nth-child(odd) {
        float:left;
    }


    /* -- PAGES -- */
    .page .header-title .page-title {
        height: 370px;
    }
}
@media (min-width: 992px) {
    h3.title, h3.title-dark {
        font-size: 52px;
        font-weight: 300;
    }
    p {
        font-size: 18px;
    }
    p.description {
        font-size: 20px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }
    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
    .main {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    /* -- HEADER -- */
    .carousel-inner, .carousel-inner .item {
        height:582px;
    }
    .carousel-control .fa-angle-left,
    .carousel-control .fa-angle-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 90px;
        height: 90px;
        font-size: 80px;
    }
    .carousel-caption {
        display: block;
        text-align: left;
        bottom: 20%;
    }
    .carousel-caption .title {
        font-family: 'Trirong', serif;
        font-size: 70px;
        font-weight: 300;
        color: #FFF;
        display: block;
    }
    .carousel-caption .description {
        width: 355px;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        display: block;
        margin-bottom: 45px;
        text-align: left;
    }
    .carousel-caption a {
        background: #96b33c;
        padding: 15px 45px;
        text-shadow: none;
        font-size: 16px;
        color: #2b2d5c;
        text-transform: uppercase;
        border-radius: 35px;
    }
    .carousel-caption a:hover {
        background: #FFF;
    }

    /* -- HOME -- */
    .destaques .bloco-destaque .descricao {
        margin-bottom: 0px;
        padding: 40px 15px;
    }
    .home .bloco-destaque .img-destaque {
        margin-bottom: 0;
    }

    /* -- PRODUTOS -- */
    .page.borbulhas .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page.borbulhas .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat center;
        height: 476px;
    }
    .page.borbulhas .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat  center;
        height: 476px;
    }
    .page.borbulhas .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat center;
        height: 476px;
    }
    .page.borbulhas .main.list-produtos .img-citrica img,
    .page.borbulhas .main.list-produtos .img-porta-enxertos img,
    .page.borbulhas .main.list-produtos .img-borbulhas img {
        display: none;
    }

    /* -- MUDAS -- */
    .page.mudas .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page.mudas .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat center;
        height: 476px;
    }
    .page.mudas .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat  center;
        height: 476px;
    }
    .page.mudas .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat center;
        height: 476px;
    }
    .page.mudas .main.list-produtos .img-citrica img,
    .page.mudas .main.list-produtos .img-porta-enxertos img,
    .page.mudas .main.list-produtos .img-borbulhas img {
        display: none;
    }

    /* -- PORTA-ENXERTOS -- */
    .page.porta-enxertos .main {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page.porta-enxertos .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat center;
        height: 476px;
    }
    .page.porta-enxertos .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat  center;
        height: 476px;
    }
    .page.porta-enxertos .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat center;
        height: 476px;
    }
    .page.porta-enxertos .main.list-produtos .img-citrica img,
    .page.porta-enxertos .main.list-produtos .img-porta-enxertos img,
    .page.porta-enxertos .main.list-produtos .img-borbulhas img {
        display: none;
    }


    /* -- FOOTER -- */
    footer {
        text-align: inherit;
    }
    footer .footer .menu a {
        margin-right: 30px;
    }
    footer .footer .descricao p {
        text-align: left;
    }
}
@media (min-width: 1200px) {
    /* -- HEADER --*/
    .carousel-caption {
        bottom: 30%;
    }

    /* -- HOME -- */
    .destaques .bloco-destaque .descricao {
        height: 430px;
        overflow: hidden;
        /* display: table-cell;
        vertical-align: middle; */
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .home .bloco-destaque h4 {
        font-size: 20px;
    }
    .destaques .bloco-destaque .descricao p {
        font-size: 17px;
    }
    .home .bloco-destaque {
        text-align: left;
    }

    /* -- PAGES -- */
    .page .header-title .page-title {
        height: 582px;
    }
    .page .header-title h2 {
        font-size: 45px;
        border-bottom: 10px solid #809423;
    }

    /* -- EMPRESA -- */
    .page.empresa .main.apresentacao {
        background: url('./../../img/bg-apresentacao-empresa.jpg') no-repeat right bottom;
    }
    .page.empresa .profissionais h3 {
        margin-bottom: 50px;
    }

    /* -- PRODUTOS -- */
    .page.borbulhas .main.list-produtos .muda {
        margin-top: 80px;
    }
    .page.borbulhas .list-produtos h4 {
        font-size: 33px;
        margin-top: 60px;
        margin-bottom: 45px;
    }
    .page.borbulhas .list-produtos p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    .page.borbulhas .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat left center;
        height: 640px;
    }
    .page.borbulhas .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat right center;
        height: 640px;
    }
    .page.borbulhas .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat left center;
        height: 640px;
    }
    .page.borbulhas .list-produtos ul li {
        font-size: 18px;
    }

    /* -- PRODUTOS -- */
    .page.borbulhas .main.list-produtos .muda {
        margin-top: 80px;
    }
    .page.borbulhas .list-produtos h4 {
        font-size: 33px;
        margin-top: 60px;
        margin-bottom: 45px;
    }
    .page.borbulhas .list-produtos p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    .page.borbulhas .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat left center;
        height: 640px;
    }
    .page.borbulhas .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat right center;
        height: 640px;
    }
    .page.borbulhas .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat left center;
        height: 640px;
    }
    .page.borbulhas .list-produtos ul li {
        font-size: 18px;
    }


    /* -- MUDAS -- */
    .page.mudas .main.list-produtos .muda {
        margin-top: 80px;
    }
    .page.mudas .list-produtos h4 {
        font-size: 33px;
        margin-top: 60px;
        margin-bottom: 45px;
    }
    .page.mudas .list-produtos p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    .page.mudas .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat left center;
        height: 640px;
    }
    .page.mudas .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat right center;
        height: 640px;
    }
    .page.mudas .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat left center;
        height: 640px;
    }
    .page.mudas .list-produtos ul li {
        font-size: 18px;
    }

    /* -- PORTA-ENXERTOS -- */
    .page.porta-enxertos .main.list-produtos .muda {
        margin-top: 80px;
    }
    .page.porta-enxertos .list-produtos h4 {
        font-size: 33px;
        margin-top: 60px;
        margin-bottom: 45px;
    }
    .page.porta-enxertos .list-produtos p {
        font-size: 18px;
        margin-bottom: 60px;
    }
    .page.porta-enxertos .main.list-produtos .img-citrica {
        background: url('./../../img/produtos/1.jpg') no-repeat left center;
        height: 640px;
    }
    .page.porta-enxertos .main.list-produtos .img-porta-enxertos {
        background: url('./../../img/produtos/2.jpg') no-repeat right center;
        height: 640px;
    }
    .page.porta-enxertos .main.list-produtos .img-borbulhas {
        background: url('./../../img/produtos/3.jpg') no-repeat left center;
        height: 640px;
    }
    .page.porta-enxertos .list-produtos ul li {
        font-size: 18px;
    }

    /* -- FOOTER -- */
    footer .footer .menu a {
        margin-right: 50px;
    }
}
